/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

$main-font: "aleo", serif;
$head-font: "josefin sans", sans-serif; 
$main-txt-color: #fff;
$main-info-color: #E8E8E8;